{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(/static/assets/img/theme/1.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Create New Item</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Creating Item</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form method= 'post' action=""> {% csrf_token %}
        <h6 class="heading-small text-muted mb-4">Item information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Item Name</label>
                {{form.item_name}}
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Customer</label>
                {{form.customer}}

                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Total Amount for Installments</label>
                {{form.total_amount}}

                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" >Total Installments</label>
                {{form.total_kist_months}}
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Advance Amount Taken</label>
                {{form.advance_taken}}
          
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" >Net Rate</label>
                {{form.net_rate}}
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Quantity</label>
                {{form.qty}}
                    
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" >IMEI</label>
                {{form.imei}}
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Amount in Words</label>
                {{form.amount_in_words}}
                    
                
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />

        <button type="submit" class="btn btn-primary btn-lg btn-block">Add Item</button>

      </form>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}