{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(/static/assets/img/theme/1.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Adding a new Customer</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Creating User</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form method= 'post' action=""> {% csrf_token %}
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Username</label>
                <input type="text" id="input-username" name="username" class="form-control form-control-alternative"
                  placeholder="Username">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Phone Number</label>
                <input id="input-phone" name="phone" class="form-control form-control-alternative"
                  placeholder="03001234567">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Ref name</label>
                <input type="text" name = "ref" placeholder="Name" id="input-first-name"
                  class="form-control form-control-alternative">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" >Adress</label>
                <input name="adress" id="input-adress" class="form-control form-control-alternative"
                  placeholder="Bahawalanagar">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />

        <button type="submit" class="btn btn-primary btn-lg btn-block">Add User</button>

      </form>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}