{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Pending</h5>
                  <span class="h2 font-weight-bold mb-0">{{tp}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total rcvd</h5>
                  <span class="h2 font-weight-bold mb-0">{{tr}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Sales</h5>
                  <span class="h2 font-weight-bold mb-0">{{num}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
      
      
      
      
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row " style="margin-top: 10px; text-align: center; "> -->
        <!-- <a href="/create-user/" class="btn btn-lg btn-secondary " >Add Customer</a> -->
        <!-- <a href="/create-item/" class="btn btn-lg btn-secondary" >Add Item</a> -->
<!--  -->
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="container-fluid mt--7">


  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Total Customers</h3>
        </div>



      </div>
    </div>
    <div class="table-responsive">
      <!-- Projects table -->
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Pending</th>
            <th scope="col">Total</th>
            <th scope="col">Recieved</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <script>
          function deleteCall(id, name){
              let x = confirm(`Are you sure you want to delete ${name}`);
              console.log(x);
              if (x==true){
                window.location.href = `/customer_delete/${id}/`
              }

          }

          // $("#customer_delete").click(
          //   ()=>{
          //     let x = confirm("Are you sure you want to delete {{i.customer.name}}");
          //   }
          // );
        </script>
        
        <tbody>
          {% for i in items %}
            
          <tr>
            <th scope="row">
              <a href="/item/{{i.id}}/"> {{i.customer.name}} </a>
            </th>
            <td>
              {{i.total_pending}}
            </td>
            <td>
              {{i.total_amount}}
            </td>
            <td>
              {{i.total_recieved}}
            </td>
            <td>
              <button  id="customer_delete" onclick="deleteCall(id=`{{i.id}}`, name=`{{i.customer.name}}`)" class="btn btn-danger">Delete</button>
            </td>
            
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}